<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{usuario.username}}</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(loginService.hasRole("ROLE_ADMIN")){
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="principal/carros"
            >carros</a
          >
        </li>
        }
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="principal/marca"
            >Marcas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="principal/acessorio"
            >Acessórios</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
